@import 'tailwindcss';

/*
  default theme:
    https://github.com/tailwindlabs/tailwindcss/blob/next/packages/tailwindcss/theme.css
*/

@theme {
  --color-*: initial; /* resets default colors */

  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #fed600;
  --color-red: #ff0954;
  --color-blue: #00e9ff;
  --color-violet: #e300ff;
}

@layer utilities {
  .bg-primary {
    background: linear-gradient(
      to bottom right,
      hsl(243, 45%, 18%),
      hsl(243, 45%, 10%)
    );
    background-repeat: no-repeat;
  }

  code {
    @apply bg-red/50 border-red mx-1 rounded-lg border py-1 px-2 font-mono text-sm text-white;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-7xl px-8 sm:px-5;
  }

  .link {
    @apply text-blue decoration-wavy hover:underline;
  }

  .animation-row {
    @apply relative flex;
  }

  .animation-node {
    @apply size-20 rounded;
    background-color: var(--color);
    box-shadow:
      inset -2px -7px 8px color-mix(in srgb, var(--color), black 20%),
      inset 2px 7px 8px color-mix(in srgb, var(--color), white 10%);

    .animation-row:nth-child(4n + 1) & {
      --color: var(--color-yellow);
    }

    .animation-row:nth-child(4n + 2) & {
      --color: var(--color-red);
    }

    .animation-row:nth-child(4n + 3) & {
      --color: var(--color-blue);
    }

    .animation-row:nth-child(4n + 4) & {
      --color: var(--color-violet);
    }
  }

  .start-node,
  .end-node,
  .inbetween-node {
    @apply absolute -z-10 flex size-20 items-center justify-center rounded bg-white/20 text-center opacity-20 ring ring-inset;
  }

  .start-node {
    @apply after:content-['Start'];
  }

  .end-node {
    @apply top-0 right-0 after:content-['End'];
  }
}
