---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="GSAP Training">
  <main class="wrapper my-20">
    <h1>Welcome to GSAP Training</h1>
    <h2>
      The following list are various exercises to get you started with learning <a
        href="https://gsap.com/">GSAP</a
      >, one of the best animating libraries out there.
    </h2>
  </main>
</Layout>
