---
const btnStyles =
  'min-h-10 cursor-pointer rounded border-2 border-white px-5 text-center transition-colors hover:bg-white/10 active:bg-white/20'
---

<div id="controls" class="flex flex-wrap items-center justify-center gap-5">
  <button class={btnStyles} id="play">Play</button>
  <button class={btnStyles} id="pause">Pause</button>
  <button class={btnStyles} id="reverse">Reverse</button>
  <button class={btnStyles} id="restart">Restart</button>
</div>
